<a href="https://colab.research.google.com/github/rohitgupta29/python_data_science_practice/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Function Application and Mapping
import pandas as pd
import numpy as np
frame= pd.DataFrame(np.random.randn(4,3), columns = list('bde'), index = ['Utah', 'Ohio', 'Texas','Oregon'])
frame

               b         d         e
Utah   -0.581656  2.387992  0.043487
Ohio   -1.845053  3.190487 -1.872745
Texas  -1.728466  3.160338 -1.305457
Oregon -0.062302  0.560341 -1.718304

In [0]:
np.abs(frame)

               b         d         e
Utah    0.581656  2.387992  0.043487
Ohio    1.845053  3.190487  1.872745
Texas   1.728466  3.160338  1.305457
Oregon  0.062302  0.560341  1.718304

In [0]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    1.782751
d    2.630146
e    1.916232
dtype: float64

In [0]:
frame.apply(f, axis= 'columns')

Utah      2.969648
Ohio      5.063232
Texas     4.888804
Oregon    2.278645
dtype: float64

In [0]:
def f(x):
  return pd.Series([x.min(),x.max()], index=['min','max'])

frame.apply(f)

            b         d         e
min -1.845053  0.560341 -1.872745
max -0.062302  3.190487  0.043487

In [0]:
format =lambda x: '%.2f' %x
frame.applymap(format)

            b     d      e
Utah    -0.58  2.39   0.04
Ohio    -1.85  3.19  -1.87
Texas   -1.73  3.16  -1.31
Oregon  -0.06  0.56  -1.72

In [0]:
frame['e'].map(format)

Utah       0.04
Ohio      -1.87
Texas     -1.31
Oregon    -1.72
Name: e, dtype: object

In [0]:
#Sorting and Ranking
obj = pd.Series(range(4), index= ['d','a','b','c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [0]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)), index=['three','one'],columns= ['d','a','b','c'])
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [0]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [0]:
frame.sort_index(axis=1, ascending= False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [0]:
obj = pd.Series([4,7,-3,2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [0]:
obj = pd.Series([4,np.nan, 7, np.nan, -3, 2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [0]:
frame = pd.DataFrame({'b': [4,7,-3,2],'a':[0,1,0,1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [0]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [0]:
#ranking
obj = pd.Series([7,-5,7,4,2,0,4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [0]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [0]:
#Assign tie values the maximum rank in the group (descending order)
obj.rank(ascending= False, method = 'max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [0]:
frame = pd.DataFrame({'b':[4.3,7,-3,2], 'a': [0,1,0,1], 'c':[-2,5,8,-2.5]})
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [0]:
frame.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [0]:
#Axis Indexes with Duplicate Labels
obj = pd.Series(range(5), index=['a','a','b','b','c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [0]:
obj.index.is_unique

False

In [0]:
obj['a']

a    0
a    1
dtype: int64

In [0]:
obj['c']

4

In [0]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','a','b','b'])
df

          0         1         2
a  0.909977  0.629566 -0.091312
a  0.040084 -0.569583 -0.250696
b  0.898437 -0.474628  1.047686
b -0.100261 -1.051935  0.681060

In [0]:
df.loc['b']

          0         1         2
b  0.898437 -0.474628  1.047686
b -0.100261 -1.051935  0.681060

In [0]:
#Summerizing and Computing Descriptive Statistics
df = pd.DataFrame([[1.4,np.nan],[7.1, -4.5],[np.nan, np.nan],[0.75,-1.3]],index = ['a','b','c','d'],columns=['one','two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [0]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [0]:
df.sum(axis= 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [0]:
df.mean(axis='columns',skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [0]:
df.idxmax()

one    b
two    d
dtype: object

In [0]:
df.describe

<bound method NDFrame.describe of     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3>

In [0]:
df.quantile()

one    1.4
two   -2.9
Name: 0.5, dtype: float64

In [0]:
obj = pd.Series(['a','a','b','c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [0]:
#Correlation and Covarience
import pandas_datareader.data as web 
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker:data['Adj Close'] for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

returns = price.pct_change()

returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-06-01  0.012298 -0.000080 -0.002292  0.002029
2020-06-02  0.004629  0.008888  0.011377  0.005168
2020-06-03  0.005505  0.024206  0.002434 -0.001973
2020-06-04 -0.008612 -0.001240 -0.013164 -0.016848
2020-06-05  0.028481  0.024595  0.023398  0.018560

In [0]:
returns['MSFT'].corr(returns['IBM'])

0.5963067624901303

In [0]:
returns['MSFT'].cov(returns['IBM'])

0.00016234596975123116

In [0]:
returns.MSFT.corr(returns.IBM)

0.5963067624901303

In [0]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.531574  0.711029  0.642368
IBM   0.531574  1.000000  0.596307  0.526864
MSFT  0.711029  0.596307  1.000000  0.751193
GOOG  0.642368  0.526864  0.751193  1.000000

In [0]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000329  0.000152  0.000222  0.000199
IBM   0.000152  0.000250  0.000162  0.000143
MSFT  0.000222  0.000162  0.000296  0.000221
GOOG  0.000199  0.000143  0.000221  0.000293

In [0]:
returns.corrwith(returns.IBM)

AAPL    0.531574
IBM     1.000000
MSFT    0.596307
GOOG    0.526864
dtype: float64

In [0]:
returns.corrwith(volume)

AAPL   -0.140363
IBM    -0.104146
MSFT   -0.065587
GOOG   -0.038198
dtype: float64

In [0]:
#Unique Values, Value Counts, and Membership
obj = pd.Series(['c','a','d','a','a','b','b','c','c'])

uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [0]:
uniques.sort()
uniques

array(['a', 'b', 'c', 'd'], dtype=object)

In [0]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [0]:
pd.value_counts(obj.values, sort = False)

c    3
d    1
a    3
b    2
dtype: int64

In [0]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [0]:
mask = obj.isin(['b','c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [0]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [0]:
to_match = pd.Series(['c','a','b','b','c','a'])

unique_vals = pd.Series(['c','b','a'])

pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

In [0]:
data = pd.DataFrame({'Qu1': [1,3,4,3,4], 'Qu2': [2,3,1,2,3],'Qu3':[1,5,2,4,4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [0]:
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0